import React from 'react'
import clsx from 'clsx'
import './{{pascalCase name}}.scss'

export type {{pascalCase name}}Props = JSX.IntrinsicElements['div'] & {}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ children, className, ...props }) => {
  return (
    <div {...props} className={clsx('{{pascalCase name}}', className)}>
      {{pascalCase name}}
    </div>
  )
}

export default React.memo({{pascalCase name}})
