import React from 'react'

export type {{pascalCase name}}Props = {

}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ children }) => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  )
}

export default React.memo({{pascalCase name}})
